# ppt for producing doc images #
doc/*.pptx

# large data files #
data/dada2/**
data/blast/**
data/results/*.csv
data/results/results_internal_qc/**
data/qc/**
#!data/blast/run3_BF3_taxonomy_filtered.csv
#!data/blast/run3_BF3_taxonomy_filtered.csv
#!data/blast/run4_BF3_taxonomy_filtered.csv
#!data/blast/run5_BF3_taxonomy_filtered.csv
scripts_sequencing/**.html
figs/**.png
.Rproj.user
.Rhistory
.RData
Green-crab-dDNA.Rproj
data/metadata/Willapa Bay EGC Samples - Sample Data.csv
data/metadata/runs2-5_BF3_run_metadata.csv
data/metadata/Willapa Bay EGC Samples - PCR cycles.csv
data/metadata/*.rds
data/*.rds
data/metadata/LC09_L1TP_047028_20240223_20240223_02_T1_refl.tif
data/results/S1_Table.xlsx
data/zoid/QM_Bayes_my_dDNA_data_observation.rds
data/zoid/Crabs4zoid_track_reads_08-29-2023.csv
data/zoid/Crabs4zoid_track_prey_08-29-2023.csv
data/zoid/zoid_track_prey_calibrated_crabs.csv
data/zoid/zoid_track_reads_calibrated_crab.csv
data/zoid/qm_model_dataLIST_2023-8-29.rds
data/zoid/QM_Bayes_posterior_means_filtered_08-29-2023.csv
figs/Fig4.tif
figs/Fig4.tif
figs/Fig4.tif
data/metadata/LC09_WillapaBay_Clip.tif
data/zoid/zoid_MOCK_matchedTaxonomy.csv
data/zoid/zoid_SAMPLEdata_taxonomy.csv
